<!DOCTYPE html>
<html>
  <head>
    <title>My Website</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
  </head>
  
  <body>
    <nav class="navbar">
      <div class="navbar-logo">Smart School</div>
      <ul class="navbar-links">
        <li><a href="#">Home</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="#">Services</a></li>
        <li class="dropdown">
          <a href="#" class="dropbtn">Extracurricular</a>
          <div class="dropdown-content">
            <a href="#">Sports</a>
            <a href="#">Arts</a>
            <a href="#">IT</a>
            <a href="#">Language</a>
            <a href="#">Environment</a>
          </div>
        </li>
        <li><a href="#contact">Contact Us</a></li>
        <li><a class="login" href="#">Login</a></li>
        <li><a class="register" href="#">Register</a></li>
      </ul>
    </nav>
    <main>
      <section class="hero-image" id="hero_image">
        <img class="background-images" src="static/images/school.jpg" alt="Hero Image">
        <h1>Welcome to Smart School</h1>
        <p>Learn and grow with us.</p>
        <a href="#about" class="btn">View More!</a>
      </section>

      <section class="home-about" id="about">
        <div class="container">
          <div class="row">
            <div class="col">
              <h1>Know about Smart School</h1>
              <p>Smart School is an educational institution built to provide high-quality education to children around the world. We implement more interesting learning with the help of technology, experienced teachers, and various extracurricular activities.</p>
              <div class="about-fact">
                <div class="images-fact">
                  <img class="images-fact" src="static/images/technology.png" alt="technology">
                </div>
                <div class="text-fact">
                  <p class="bold-text">Interesting Learning</p>
                  <p>Utilization of Technology in Learning</p>
                </div>
              </div>
              <div class="about-fact">
                <div class="images-fact">
                  <img class="images-fact" src="static/images/teacher.png" alt="teachers">
                </div>
                <div class="text-fact">
                  <p class="bold-text">Experience Teacher</p>
                  <p>Teachers who are experienced and able to use technology</p>
                </div>
              </div>
              <div class="about-fact">
                <div class="images-fact">
                  <img class="images-fact" src="static/images/extracurricular.png" alt="extracurricular">
                </div>
                <div class="text-fact">
                  <p class="bold-text">Extracurricular</p>
                  <p>Provision of extracurricular facilities in various fields</p>
                </div>
              </div>
              <a href="#" class="btn-know-more">Know More</a>
            </div>

            <div class="col">
              <img class="col-images" src="static/images/icon1.jpg" alt="Smart School">
            </div>
          </div>
        </div>
      </section>
      
      <section class="activity" id="activity">
        <h1>Our Activity</h1>     
        <div class="image-container">
          <div class="image-wrapper">
            {% for activity in activities %}
              <div>
                <img src="{{ activity.image.url }}" alt=" ">
              </div>  
            {% endfor %}        
          </div>
        </div>
      </section>

      <section class="alumni" id="alumni">
        <h1>Our Alumni</h1>
        <div class="carousel">
          <div class="carousel-inner">
            {% for alumnus in alumni %}
              <div class="carousel-slide">
                <img src="{{ alumnus.image.url }}">
                <h1>{{ alumnus.nama }}</h1>
                <p>{{ alumnus.quote }}</p>
              </div>
            {% endfor %}
          </div>
        
          <button class="carousel-prev">&#8249;</button>
          <button class="carousel-next">&#8250;</button>

        </div>      
      </section>

      <section class="get-in-touch" id="contact">
        <div class="container">
          <div class="row">
            <div class="col">
              <img class="contact-images" src="static/images/school.jpg" alt="Smart School">
            </div>
            <div class="col">
              <div class="col-right">
                <h2>Get In Touch</h2>
                <input type="text" class="field" placeholder="Your Name"/>
                <input type="text" class="field" placeholder="Your Email"/>
                <input type="text" class="field" placeholder="Phone"/>
                <textarea placeholder="Message" class="field"></textarea>
                <button class="btn">Send</button>
              </div>
            </div>
          </div>
        </div>
      </section>

    </main>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col">
            <h3>Smart School</h3>
            <p>Learn and grow with us.</p>
            <ul class="social-icons">
              <li><a href="#" class="fa fa-facebook"></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
          <div class="col">
            <h3>Quick Links</h3>
            <ul class="quick-links">
              <li><a href="#">Home</a></li>
              <li><a href="#about">About Us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Extracurricular</a></li>
              <li><a href="#contact">Contact Us</a></li>
            </ul>
          </div>
          <div class="col">
            <h3>Contact Us</h3>
            <ul class="contact">
              <li><i class="fa fa-map-marker"></i>Jl. Make Better</li>
              <li><i class="fa fa-phone"></i>+62 123 456 789 </li>
              <li><i class="fa fa-envelope"></i>smartschool@gmail.co</li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <script src="static/js/script.js"></script>
  </body>
</html>
